<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <title></title>
</head>
<body>
    <br/>
    <form action="" method="post" class="form-horizontal" role="form" >
         {% csrf_token %}
        {{ wizard.management_form }}

        {% if form.errors %}
            <div class="alert alert-error">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-5 control-label">Dejale un mensaje</label>
            <div class="col-sm-3">
                <textarea class="form-control" id="mensaje" name="2-mensaje" value="{{ form.mensaje.value|default:""}}"> </textarea>
                {% if form.mensaje.errors %}<span class="help-inline">{{ form.mensaje.errors.as_text }}</span>{% endif %}
            </div>
        </div>
        <hr>
        <center><button type="submit" class="btn btn-primary">Guardar</button></center>

    </form>

</body>
</html>