<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <title></title>
</head>
<body>

    <center>
        <h4>LLENA LOS DATOS</h4>
        <b>DE TU PATA</b>
    </center>
    <br/>
    <form action="" method="post" class="form-horizontal" role="form" >
        {% csrf_token %}
        {{ wizard.management_form }}

        {% if form.errors %}
            <div class="alert alert-error">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% for field in form %}
            <div class="form-group">
                <label class="col-sm-5 control-label">{{ field.label }}</label>
                <div class="col-sm-3">
                    {{ field }}
                    {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
                </div>
            </div>
        {% endfor %}
        <hr>
        <center><button type="submit" class="btn btn-primary">Guardar</button></center>
    </form>
</body>
</html>