<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <title></title>
</head>
<body>
    <br/>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-error">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="tipo_documento" class="col-sm-5 control-label">{{ field.label }}{% if field.field.required %} *{% endif %} </label>
                <div class="col-sm-3">
                    {{ field }}
                    {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
                </div>
            </div>
        {% endfor %}
        <center>
            <input class="btn btn-primary btn-large" type="submit" value="Validar"/>
        </center>
    </form>
</body>
</html>